body {
    font-family: 'Raleway', sans-serif;       
    margin: 0;
    padding: 0; 
    background-image: url("../images/CurrencyPatterns-01.png");
    background-repeat: repeat;
    background-attachment: fixed;       
}
div.container{
    background-color: rgb(236, 236, 216);
    margin: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 3%;
    padding-top: 2%;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgb(33, 47, 57); 
}
div.container header{
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 2%; 
    text-align: center;
}
div.container header h1{
    color:rgb(82, 108, 91);
    font-size: 45px;     
}
div.container main{
    width: 100%;
    margin: auto;
    text-align: center;
    
}
div.container main div{
    display: inline-block;    
    margin-right: 2%;
}
div.container main div h2{
    font-size: xx-large;
    color:rgb(204, 90, 2);    
}
div.container main div select{
    width: 100%; 
    font-size: 25px;  
    font-family: 'Raleway', sans-serif; 
    border-radius: 10px;
    border-color: white;
    border-style: none;
    height: 45px;
    
}
div.container main div input{
    width: 100%; 
    font-size: 25px;  
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    border-color: white;
    border-style: none;
    height: 45px;
}

div.conversionWrapper{
    display: inline-block;
    width: 50%;
    
}
div.conversionValueWrapper{
    background-color: rgb(255, 255, 255);    
    display: inline-block;
    margin: 0;
    padding-bottom: 5%;
    border-radius: 15px;
    text-align: center;
    color:rgb(82, 108, 91);
}
#conversionValue {
    width: 100%;    
    height: 35px;
    display: inline-block; 
    font-size: 30px;
    padding: 2%;
}
